tensorflow-cpu==2.15.0
numpy==1.25.2
sagemaker==2.198.0
boto3==1.29.7
argparse==1.4.0
six==1.16.0
pandas==2.1.0
matplotlib==3.8.2
keras==2.15.0
huggingface-hub==0.19.3
sagemaker_inference==1.10.1
multi-model-server==1.1.11
sagemaker-training==4.7.4
cryptography==41.0.4
PyJWT==2.4.0
